include MANIFEST.in
include LICENCE.txt
include README.rst

exclude sphinx_reload.py

recursive-include firm_info/templates *
recursive-include firm_info/static *
recursive-include firm_info/locale *

recursive-exclude tests *
recursive-exclude sandbox *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
